<div class="container-fluid">
	<h1>About Splurty</h1>
	<p class="about-text">Splurty was built by <a href="https://www.linkedin.com/in/obulkin">Oleg Bulkin</a> as part of his full stack web development course at <a href="https://www.thefirehoseproject.com">The Firehose Project</a>. It reflects his newfound passion for programming, as well as his long-standing interest in philosophy and literature.</p>
	<div class="row">
		<div class="col-xs-12 col-sm-2">
			<%= image_tag("obulkin_photo.jpg", size: "200", class: "img-responsive") %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3>Oleg Bulkin</h3>
			<p class="about-text">After graduating from Stanford University with a degree in Economics, Oleg spent 9 years working in various internet marketing roles (SEM, SEO, display, video, etc.). He gradually moved into more and more technical marketing roles and has recently quit the field to kick this trend up a notch and pursue a career in web development.</p>
		</div>
	</div>
	</div>
</div>