// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: "nobileregular", sans-serif;
	font-weight: bold;
	font-size: 48px;
}

h2 {
	font-family: "nobilemedium_italic", sans-serif;
}